:root {
  --width-sidebar: 20vw;
  --height: 60px;
}

.home__container {
  display: flex;
  min-height: 100vh;
}

.home__sidebar {
  width: var(--width-sidebar);
  min-height: 100vh;
}

.home__sidebar-menu {
  height: var(--height);
  border-bottom: 1px solid #00000010;
}

.home__content {
  width: calc(100vw - var(--width-sidebar));
  min-height: 100vh;
}

.home__header {
  height: var(--height);
  border-bottom: 1px solid #00000010;
}

.home__outlet {
  background-color: #f5f6f8;
  height: calc(100vh - var(--height));
}
