.manage__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .manage__button {
    width: 120px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #cdcdcd;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .manage__button.active {
    color: #4f65df;
    background-color: #fff;
  }
  

/* tabular section */
.manage__tabular--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.manage__table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th {
    padding: 10px;
    text-align: left;
    text-align: center;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #fff;
}

tfoot {
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}


