<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="reset.css">
    <title>Document</title>
</head>
<body>
    <main class="alert__table" id="table">
        <section class="table__header">
            <h1>Alert</h1>
            <div class="alert__sort">
                <img src="Sort.svg" alt="">
                <h3>Sort</h3>
            </div>
            <div class="alert__filter">
                <img src="Filter.svg" alt="">
                <h3>Filter</h3>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Alert</th>
                        <th>Alert Details</th>
                        <th>Send Alert</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="table-name">Nguyen Thi B</td>
                        <td>
                            <p class="status vacation">Vacation time running out</p>
                        </td>
                        <td>2 vacation days left</td>
                        <td>
                            <div class="alert-btn-send">
                                <a href="#" class="button send">
                                    <span class="btn-icon">
                                        <img src="Vector.svg" alt="">
                                    </span>
                                    <span class="btn-text">
                                        Send
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="table-name">Nguyen Thi A</td>
                        <td>
                            <p class="status anni">Approaching hiring anniversary</p>
                        </td>
                        <td>10 days to 1st anniversary</th>
                        <td>
                            <div class="alert-btn-send">
                                <a href="#" class="button send">
                                    <span class="btn-icon">
                                        <img src="Vector.svg" alt="">
                                    </span>
                                    <span class="btn-text">
                                        Send
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="table-name">Nguyen Thi B</td>
                        <td>
                            <p class="status benefit">Benefit plan change affecting payroll</p></td>
                        <td>Salary increase of 5% from 03/01/2024</td>
                        <td>
                            <div class="alert-btn-send">
                                <a href="#" class="button send">
                                    <span class="btn-icon">
                                        <img src="Vector.svg" alt="">
                                    </span>
                                    <span class="btn-text">
                                        Send
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="table-name">Nguyen Thi B</td>
                        <td>
                            <p class="status bd">Employees with birthdays this month</p>
                        </td>
                        <td>Birthday on February 26, 2024</td>
                        <td>
                            <div class="alert-btn-send">
                                <a href="#" class="button send">
                                    <span class="btn-icon">
                                        <img src="Vector.svg" alt="">
                                    </span>
                                    <span class="btn-text">
                                        Send
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>